body{
    margin: 0;
}
@media screen and (min-width:1024px) {
    .header__main{   
        width: 90%;
    }
    .header__content{
        display: grid;
        grid-template-columns: 18% 75% 7%;
    }
}
.header__main{   
    margin: auto;
    height: 80px;
    width: 100%;
    z-index: 2;
}
.where__to{
    color: #ffc123;
}
.where__to__try__text{
    font-size: 13px;
    background-color: black;
    display: table;
    height: 30px;
    width: 130px;
    z-index: 2;
}
.where__to__try__main{
    cursor: pointer;
    width: 150px;
}
.where__to__try__text__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
    height: 100%;
    align-items:center;
}
.try{
    animation: blink 1s infinite;
    color: white;
}
.where__to__try__address{
    background-color: black;
    width: 130px;
    opacity: 0;
    font-size: 13px;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
    color: white;
}
.where__to__try__address.show {
    opacity: 1;
    transform: translateY(0);
}
.where__to__try__address div{
    height: 20px;
    text-align: center;
}
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
}
.triangle {
    width: 6px;
    height: 5px;
    border-top: 30px solid black; /* встановлюємо товщину трикутника */
    border-left: 62.5px solid transparent; /* робимо ліву грань прозорою */
    border-right: 62.5px solid transparent; /* робимо праву грань прозорою */
}
@media screen and (min-width:720px) {
    .header__content{
        display: grid;
        grid-template-columns: 18% 75% 7%;
    }
}
.list__page{
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.list__page div{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.active{
    color:#ffc123;
}
.list__page{
    display: grid;
    height: 70px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}   
@media screen and (min-width:720px) and (max-width:1024px) {
    .header__content{
        grid-template-columns: 1fr 8fr 1fr;
        justify-content: space-between;
    }
}
@media screen and (max-width:720px) {
    .header__content{
        display: flex;
        justify-content:space-between;
    }
}
.logo img{
    width: 80px;
}
.burger{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
}
.burger__content{
    cursor: pointer;
}
.burger__main__content{
    position: fixed;
    height: 100%;
    width: 30%;
    left: 70%;
    z-index: 50;
    background-color: rgba(0,0,0,0.91);
}
@media screen and (min-width:1500px) {
    .list__page{
        width: 1000px;
        margin: 0 auto;
    }
}
@media screen and (max-width:720px) {
    .none{
        display: none;
    }   
}
@media screen and (max-width:720px) {
    .burger{
        display: flex;
        justify-content: right;
    }
}
@media screen and (min-width:720px) {
    .burger{
        display: none;
    }
}
a{
    color:rgb(78, 196, 196);
    font-weight:700;
}
@media screen and (max-width:720px) {
    .header__content{
        width: 98%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:720px) {
    .logo{
        display: flex;
    }
}
.logo{
    cursor: pointer;
}
.slide{
    width: 100%;
}
.swiper-slide-1 {
    height: 90vh;
    overflow:hidden;
}
.swiper-slide-1 video{
    height: 100%;
}
.swiper-wrapper{
    height: 90vh;
}
.swiper-slide-2{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide-2__mini img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:720px) {
    .none__max__720{
        display: none;
    }
}
@media screen and (max-width:720px) {
    .none__max__720{
        display: flex;
    }
}
@media screen and (max-width:720px) {    
    .text__on__media{
        width: 70%;
        line-height: 30px;
        font-size: 23px;
        margin-left: 5%;
    }
    .text__on__media1{
        line-height: 30px;
        font-size: 23px;
        margin-left: 15%;
        width: 70%;
    }
}
@media screen and (min-width:720px) and (max-width:1024px) {
    .text__on__media{
        line-height: 35px;
        font-size: 28px;
        width: 50%;
        margin-right: 10%;
    }
    .text__on__media1{
        line-height: 35px;
        font-size: 28px;
        width: 50%;
        margin-left: 15%;
    }
}
@media screen and (min-width:1024px) {
    .text__on__media{
        line-height: 42px;
        font-size: 33px;
        width: 50%;
        margin-right: 20%;
    }
    .text__on__media1{
        line-height: 42px;
        font-size: 33px;
        width: 50%;
        margin-left: 15%;
    }
}
.text__on__media{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    position: absolute;
    color: white;
    text-shadow: #FC0 1px 0 10px;
}
.text__on__media1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    position: absolute;
    color: white;
    text-shadow: #FC0 1px 0 10px;
}
.img__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__container img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide-1{
    display: flex;
    align-items: center;
}
.swiper-slide-2{    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:cover;
    background-size: cover;
    opacity: 1;
}
.img__container1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:cover;
    background-size: cover;
    opacity: 1;
}
.where__to__try{
    z-index: 99;
}
.header__main{
    z-index: 99;
    position: absolute;
}
.header__content{
    z-index: 99;
}
.MuiSvgIcon-root{
    color: white;
}
@media screen and (min-width:1024px) {
    .crafted__to__inspire__content{
        width: 80%;
        margin: 50px auto 50px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .crafted__text{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .beer__flavors__main{
        width: 80%;
        margin: 50px auto 50px auto;
    }
    .home__imgs__main{
        width: 80%;
        margin: 100px auto 50px auto;
    }
    .home__advantages__main{
        width: 80%;
        margin: 50px auto 50px auto;
    }
}
@media screen and (max-width:1024px) {
    .home__advantages__main{
        width: 90%;
        margin: 50px auto 50px auto;
    }
    .crafted__to__inspire__content{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .beer__flavors__main{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .crafted__to__inspire__content{
        margin: 50px auto 50px auto;
    }
    .crafted__img img{
        margin-top: 30px;
        width: 100%;   
    }
    .home__imgs__main{
        width: 90%;
        margin: 80px auto 50px auto;
    }
}
.beer__flavors__main{
    background-image: url("/public/imgs/Main-pricing-background.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.crafted__title{
    line-height: 45px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.crafted__description{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Beer__Mug__Full path{
    width: 100px;
}
.flavors__title{
    line-height: 45px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.flavors__list{
    margin-top: 10px;
}
.one__flavors{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.one__flavors__description{
    margin-top: 1px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.one__flavors__title{
    font-size: 20px;
    margin-top: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.one__flavors__price{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
@media screen and (min-width:720px) {
    .home__imgs__content{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        align-items: center;
        column-gap: 3rem;;
    }
}
@media screen and (max-width:720px) {
    .home__imgs__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home__imgs1{
        max-width: 400px;
    }
    .home__imgs2{
        max-width: 400px;
        margin: 50px 0 50px 0;
    }
}
.home__imgs__content img{
    width: 100%;
}
.home__advantages__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (min-width:720px) {
    .home__advantage{
        width: 46%;
    }
}
@media screen and (max-width:720px) {
    .home__advantage{
        width: 100%;
    }
}
.home__advantage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home__atvantage__name{
    margin-top: 40px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.home__atvantage__img{
    display: flex;
    justify-content: center;
}
.home__atvantage__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__atvantage__description{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home__advantage{
    margin-top: 50px;
}
@media screen and (min-width:1024px) {
    .footer__main__content{
        width: 80%;
        margin: 100px auto 0 auto;
    }
}
@media screen and (max-width:1024px) {
    .footer__main__content{
        width: 90%;
        margin: 100px auto 0 auto;
    }
}
.footer__main__content{
    color: #fff;
    padding-top: 50px;
}
.footer__desctiption{
    margin-top: 20px;
}
.footer__main{
    margin-bottom: -50px;
    background-color: #111;
}
.footer__title{
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.location__description{
    font-size: 16px;
    margin-top: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.time__work__description{
    font-size: 17px;
    margin-top: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.newsletter__description2{
    margin-top: 5px;
}
.info__decription{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info__decription div{
    margin-top: 5px;
}
.footer__main__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (min-width:1024px) {
    .footer__block{
        width: 23%;
    }
}
@media screen and (min-width:720px) and (max-width:1024px) {
    .footer__block{
        width: 48%;
    }
}
@media screen and (max-width:720px) {
    .footer__block{
        width: 100%;
    }
}
.footer__info{
    margin-bottom: 30px;
}
.teem__title{
    width: 100%;
    height: 300px;
    background-image: url("/public/imgs/Default-title-area-img.jpg");
}
.MuiSvgIcon-root{
    color: #FC0;
}
.teem__title{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.list__teem{
    margin-top: 100px;
}
@media screen and (min-width:1024px) {
    .team__member{
        width: 30%;
    }
    .list__teem{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width:1024px) {
    .list__teem{
        width: 90%;
        margin: auto;
    }
}
@media screen and (min-width:720px) and (max-width:1024px) {
    .team__member{
        width: 48%;
    }
}
.list__teem{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.teem__member__img img{
    margin-top: 80px;
    width: 100%;
}
.name__member__team{
    margin-top: 20px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.description__team__member{
    font-size: 18px;
    margin-top: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.newsletter__description2{
    display: flex;
    align-items: center;
}
.icon__send{
    display: flex;
    align-items: center;
    background-color: #FC0;
    height: 43px;
    z-index: 3;
}
@media screen and (min-width:1024px){
    .main__beer__Flavors{
        margin-top: -50px;       
    }
}